{% extends "base.html" %}
{% block content %}

<!--display errors if any-->
{% if form.errors %}
    <p>sorry sbout that...</p>
{% endif %}

<!--login form, username and password-->
<form action="/accounts/auth/" method="post">
    {% csrf_token %}
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">
    <input type="submit" value="login" />
</form>

{% endblock %}

